.header {
    box-shadow: 1px 1px 4px 0 rgba(5, 10, 255, 0.1);
    top:0;
    width: 100vw;
    z-index: 3;
    background-color:lightblue;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

.Top {
background-image: url('./images/Background.png');
background-repeat: no-repeat;
background-size: cover;
background-color: lightskyblue;
width: 100vw;
height: 40vh;
display: flex;
justify-content: center;
align-items: center;
}

.headerImgs{
   display: flex;
   flex-direction: row;
   height:5vh;
   margin: 5px
}

