body{
    margin: 0px;
    padding: 0px;
    width: 100vw
}
.header {
    box-shadow: 1px 1px 4px 0 rgba(5, 10, 255, 0.1);
    top:0;
    width: 100vw;
    background-color:lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

.Top {
background-image: url('./images/Background.png');
background-repeat: no-repeat;
background-size: cover;
background-color: lightskyblue;
width: 100vw;
height: 40vh;
display: flex;
justify-content: center;
align-items: center;
}

.headerImgs{
   display: flex;
   flex-direction: row;
   height:5vh;
   margin: 5px;
   width: 100vw
 
}

.Tab {
    overflow: hidden;
  
/* .Tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  } */
  /* .Tab button:hover {
    background-color: #ddd;
  } */
  .Tab button.active {
    background-color:lightskyblue;
  }
  